template(name="classroom")
  .container
    .row.clearfix
      .col-md-9.column.classroom-body
        ul.nav.nav-tabs.classroom-nav

          li.active
            a(data-toggle="tab", href="#Materials") Materials

          each dockerImageTags
            li
              a(data-toggle="tab", href="#imageTag_{{hash _id}}", tag="{{tag}}").select-env {{tag}}


          //- if dockerHasHTTP
          //-   li
          //-     a(data-toggle="tab", href="#Environment") Environment

          if dockerHasSFTP
            li
              a(data-toggle="tab", href="#SFTP") SFTP

          //- if isInRole "admin" classroomAndId
            li
              a(data-toggle="tab", href="#Admin") Admin

          if Is.classroom classroomId "teacher"
            li
              a(data-toggle="tab", href="#Teacher") Teacher

          if Is.classroom classroomId "student"
            li
              a(data-toggle="tab", href="#Student") Student

          if Is.classroom classroomId "admin"
            li
              a(data-toggle="tab", href="#Admin") Admin

          +minimisedChatroom


        .tab-content
          .tab-pane.fade.in.active#Materials
            .row
              .col-md-3
                ul.nav.nav-pills.nav-stacked(style="margin-top:30px")
                  li.active
                    a(data-toggle="tab", href="#info") Course Information

                  if hasVideo
                    li Videos

                  each videos
                    li
                      a(data-toggle="tab", href="#video_{{_id}}") {{ytTitle}}

                  if hasSlide
                    li Slides

                  each slides
                    li
                      a(data-toggle="tab", href="#slide_{{_id}}") {{title}}



              .col-md-9
                .tab-content
                  .tab-pane.fade.in.active#info
                    br
                    +courseImage courseDoc=course width="300px"
                    h2 {{course.courseName}}
                    p {{course.description}}

                  each videos
                    .tab-pane.fade(id="video_{{_id}}")
                      video.video-js.vjs-default-skin(id="videojs_{{_id}}",controls, preload="auto",width="100%",height="500px",data-setup='{ "techOrder": ["youtube"], "src": "https://www.youtube.com/watch?v={{youtubeVideoId}}" }')

                  each slides
                    .tab-pane.fade(id="slide_{{_id}}")
                      if isPDF
                        object(data="{{url}}", type="application/pdf", width="100%", height="500px")
                      else
                        iframe(id="slide_iframe_{{_id}}" src="{{url}}", width="100%", height="500px", scrolling="auto" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")


          each dockerImageTags
            .tab-pane.fade(id="imageTag_{{hash _id}}")
              +codingEnvironment TermsSigned=TermsSigned tag=tag

          if dockerHasSFTP
            .tab-pane.fade#SFTP
              h2 SFTP Info
              +sftpInfo sftp=sftp

              h2 FileZilla Tutorial
              .container-fluid
                .row
                  h3 Step1: Download FileZilla
                  a(href="https://filezilla-project.org/")
                    img(src="/images/filezillaDownload.png",width="100%")
                .row
                  h3 Step2: Open Site Manager
                  img(src="/images/filezillaTutorial1.png",width="100%")
                .row
                  h3 Final step: Fill in required information
                  +sftpInfo
                  img(src="/images/filezillaTutorial2.png",width="100%")



          if Is.classroom classroomId "admin"
            .tab-pane.fade#Admin
              h2 Classroom Participants
              p You are the administrator of this classroom. You can see class participants in the list and can add change their roles.
              +studentListTableAdmin


          if Is.classroom classroomId "teacher"
            .tab-pane.fade#Teacher
              h2 Teacher's Dashboard
              p You are the teacher of this classroom. You can quiz the class with some exercise. Switch to another tab, you can also see class participants in the list.
              ul#teacherTabs.nav.nav-tabs
                li.active
                  a(href='#exerciseTab', data-toggle='tab') Exercise
                li
                  a(href='#studentsListTeacher', data-toggle='tab') Student List
              .tab-content
                #exerciseTab.tab-pane.active
                  +exercisePanelTeacher
                #studentsListTeacher.tab-pane.fade
                  +studentListTableTeacher


          if Is.classroom classroomId "student"
            .tab-pane.fade#Student
              +exercisePanelStudent

          //- if isInRole "admin" "system"
          //-   .tab-pane.fade#SystemAdmin
          //-     +assignServer

      +classChatroom classroomId=classroomId type="classroom"

template(name="setEnvConfigsForm")
  if envConfigsSchema
    +quickForm id="setEnvConfigs" schema=envConfigsSchema type="method" meteormethod="setEnvConfigs"

template(name="classroomEnvIframe")
  if iframePort
    +envIframe ip=iframeIp port=iframePort user=iframeUser password=iframePassword




template(name="envIframe")
  if user
    label Username:
    unless flashDisabled
      button.btn.btn-flat.btn-link.copy-button(type="button" data-clipboard-text="{{user}}" data-placement="bottom" style="text-transform:none;") {{user}}
    else
      input.form-control(type='text' value="{{user}}" readonly="readonly" style="display: inline-block;width: 100px; cursor:text;")
    //- Style 2
    //- label.control-label Username:
    //- input.form-control(type='text' value="{{user}}" readonly="readonly" style="display: inline-block;width: 100px;")
    //- button#copy-user-button.btn.btn-default.btn-raised.btn-xs(type='button' data-clipboard-text="{{user}}" data-placement="bottom") copy
  if password
    label Password:
    unless flashDisabled
      button.btn.btn-flat.btn-link.copy-button(type="button" data-clipboard-text="{{password}}" data-placement="bottom" style="text-transform:none;") {{password}}
    else
      input.form-control(type='text' value="{{password}}" readonly="readonly" style="display: inline-block;width: 100px;cursor:text;")

  button.btn.btn-flat.btn-xs.env-fullscreen
    i.mdi-navigation-fullscreen
  button.connectEnvBtn.btn.btn-warning.btn-default.pull-right Reconnect
  //- button.commitBtn.btn.btn-info.btn-default.pull-right Commit

  iframe.envIframe(src="http://{{ip}}:{{port}}",port="{{port}}",ip="{{ip}}", width="100%", height="550px", scrolling="yes" )

template(name="codingEnvironment")

  if TermsSigned

    if dockerInstance
      +classroomEnvIframe docker=dockerInstance
    else

      //- if useThisEnvironment
      //-   div(style="position:relative; height:500px;")
      //-     +spinner
      //- else
      with dockerImageTag

        //- if pictures.[0]
        //-   img(src="{{pictures.[0]}}" height="200px")
        h2 {{tag}}

        hr
        h2 Personal Quota

        +autoForm id="personalQuotaSelector" schema=personalQuotaSelectorSchema type="method" meteormethod="selectPersonalQuota"
          fieldset
            +afQuickField name="tag" value=tag
            +afQuickField name="quota"

            if personalQuotaSelectionSelected
              //-span#NCPUvalue
              //-+afQuickField id="NCPUslider" name="NCPU" value="1" type="noUiSlider" min="1" max=maximumNCPU step="1"
              +afQuickField name="NCPU" value="1" type="number" min="1" max=maximumNCPU step="1"
              //-span#MemoryValue
              //-+afQuickField id="MemorySlider" name="Memory" value="512" type="noUiSlider" min="512" max=maximumMemory step="512"
              +afQuickField name="Memory" value="512" type="number" min="512" max=maximumMemory step="512"

          button.btn.btn-primary(type='submit') select


        hr
        h2 Server Group Quota

        +autoForm id="groupQuotaSelector" schema=groupQuotaSelectorSchema type="method" meteormethod="selectQuota"
          fieldset
            +afQuickField name="quota"

          button.btn.btn-primary(type='submit') select

        hr

        button(type="button").btn.btn-success.btn-raised.btn-lg.wantToCode Initiate this coding environment

        if videos.[0]
          video(width="75%" autoplay loop style="position: relative;left: 12.5%;").panel.panel-default.shadow-z-3
            source(src="{{videos.[0]}}" type="video/mp4")



  else
    +pleaseSignTerms


template(name="sftpInfo")
  .well.well-sm
    if sftp
      .container-fluid
        with sftp
         label Host:
          button.btn.btn-flat.btn-link.copy-button(type="button" data-clipboard-text="{{ip}}" data-placement="bottom" style="text-transform:none;") {{ip}}
         label Port:
          button.btn.btn-flat.btn-link.copy-button(type="button" data-clipboard-text="{{port}}" data-placement="bottom" style="text-transform:none;") {{port}}
         label User:
          button.btn.btn-flat.btn-link.copy-button(type="button" data-clipboard-text="{{envs.USER}}" data-placement="bottom" style="text-transform:none;") {{envs.USER}}
         label Password:
          button.btn.btn-flat.btn-link.copy-button(type="button" data-clipboard-text="{{envs.PASSWORD}}" data-placement="bottom" style="text-transform:none;") {{envs.PASSWORD}}
    else
      div(style="position:relative; height:100px;")
        +spinner

