template(name="classroom")
  .container
    .row.clearfix
      .col-md-9.column.classroom-body
        ul.nav.nav-tabs.classroom-nav
          li.active
            a(data-toggle="tab", href="#CourseInfo") Info

          if course.video
            li
              a(data-toggle="tab", href="#Video") Video

          if dockerHasHTTP
            li
              a(data-toggle="tab", href="#Environment") Environment

          if dockerHasSFTP
            li
              a(data-toggle="tab", href="#SFTP") SFTP

          if course.slides
            li
              a(data-toggle="tab", href="#Slides") Slides

          if isInRole "admin" classroomAndId
            li
              a(data-toggle="tab", href="#Admin") Admin

          if isInRole "teacher" classroomAndId
            li
              a(data-toggle="tab", href="#Teacher") Teacher

          if isInRole "student" classroomAndId
            li
              a(data-toggle="tab", href="#Student") Student

          if isInRole "admin" "system"
            li
              a(data-toggle="tab", href="#SystemAdmin") SystemAdmin

          +minimisedChatroom


        .tab-content
          .tab-pane.fade.in.active#CourseInfo
            br
            +courseImage courseDoc=course width="300px"
            h2 {{course.courseName}}
            p {{course.description}}

          if course.video
            .tab-pane.fade#Video
              video.video-js.vjs-default-skin(id="vid",src="",controls
  preload="auto",width="100%",height="500px",data-setup='{ "techOrder": ["youtube"], "src": "{{course.video}}" }')

          if dockerHasHTTP
            .tab-pane.fade#Environment
              if needToSetEnvConfigs
                div(style="position:relative; height:500px;")
                  +spinner
              else
                +classroomEnvIframe docker=docker

              //- if needToSetEnvConfigs
              //-   div(style="position:relative; height:500px;")
              //-     //- p.text-primary loading environment ...
              //-     +spinner
              //-   +setEnvConfigsForm classroomId=classroomId
              //- else
              //-   +classroomEnvIframe docker=docker


          if dockerHasSFTP
            .tab-pane.fade#SFTP
              if sftp
                h2 SFTP Info:
                ul
                  li IP: {{sftp.ip}}
                  li Port: {{sftp.port}}
                  li {{sftp.envs}}
              else
                div(style="position:relative; height:500px;")
                  +spinner

              h2 FileZilla Tutorial
              ul
                li
                  h2 Download FileZilla
                  a(href="https://filezilla-project.org/")
                    img(src="/images/filezillaDownload.png",width="100%")
                li
                  h2 Open Site Manager
                  img(src="/images/filezillaTutorial1.png",width="100%")
                li
                  h2 Fill up: IP, Port, USER, PASS
                  img(src="/images/filezillaTutorial2.png",width="100%")


          if course.dockerImageTag
            .tab-pane.fade#Environment
              if TermsSigned

                if needToSetEnvConfigs
                  div(style="position:relative; height:500px;")
                    //- p.text-primary loading environment ...
                    +spinner

                  //- h2 {{classroomId}}
                  +setEnvConfigsForm classroomId=classroomId
                else
                  +classroomEnvIframe docker=docker
              else
                +pleaseSignTerms

          if course.slides
            .tab-pane.fade#Slides
              iframe#slides(src="{{course.slides}}", width="100%", height="700px", scrolling="auto")

          if isInRole "admin" classroomAndId
            .tab-pane.fade#Admin
              h2 Classroom Participants
              p You are the administrator of this classroom. You can see class participants in the list and can add change their roles.
              +studentListTableAdmin


          if isInRole "teacher" classroomAndId
            .tab-pane.fade#Teacher
              h2 Teacher's Dashboard
              p You are the teacher of this classroom. You can quiz the class with some exercise. Switch to another tab, you can also see class participants in the list.
              ul#teacherTabs.nav.nav-tabs
                li.active
                  a(href='#exerciseTab', data-toggle='tab') Exercise
                li
                  a(href='#studentsListTeacher', data-toggle='tab') Student List
              .tab-content
                #exerciseTab.tab-pane.active
                  +exercisePanelTeacher
                #studentsListTeacher.tab-pane.fade
                  +studentListTableTeacher


          if isInRole "student" classroomAndId
            .tab-pane.fade#Student
              +exercisePanelStudent

          if isInRole "admin" "system"
            .tab-pane.fade#SystemAdmin
              +assignServer

      +classChatroom classroomId=classroomId type="classroom"

template(name="setEnvConfigsForm")
  if envConfigsSchema
    +quickForm id="setEnvConfigs" schema=envConfigsSchema type="method" meteormethod="setEnvConfigs"

template(name="classroomEnvIframe")
  if iframePort
    +envIframe ip=iframeIp port=iframePort user=iframeUser password=iframePassword




template(name="envIframe")
  if user
    span User:
    span.label.label-info {{user}}
  if password
    span Password:
    span.label.label-info {{password}}
  button.connectEnvBtn.btn.btn-warning.btn-default.pull-right Reconnect
  button.commitBtn.btn.btn-info.btn-default.pull-right Commit

  #beforeIframeLoadedSpinner(width="100%", height="550px")
    +spinner
  iframe#envIframe(src="http://{{ip}}:{{port}}",port="{{port}}",ip="{{ip}}", width="100%", height="550px", scrolling="yes" , style="visibility: hidden;")

