
template(name="learningResourcesPage")
  .container
    .row-fluid      
      +resourcesList

    //- +reactiveTable settings=settings  
    //- +resourcesList

template(name="resourcesList")
  .resourcesList
    +youtubeVideoPlayer youtubeVideoId=youtubeVideoId

    each resourceNodes
      +resourceNode

template(name="resourceNode")
  .resourceNode.col-md-3
    .well
      hr
      img.play(youtubeVideoId="{{youtubeVideoId}}",width="100%",src="http://img.youtube.com/vi/{{youtubeVideoId}}/hqdefault.jpg")  
      h3 {{ytTitle}}    
      //- p {{ytDescription}}
      +nodeIcons video=true slides=true dockerImage=true
      hr    


template(name="youtubeVideoPlayer")
  .resourceNode.col-md-6
    .well
      //- video.video-js.vjs-default-skin(width="100%",height="500px",src="",controls,data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com/embed/{{youtubeVideoId}}" }')
      iframe#ytplayer(type="text/html",width="100%",height="400",src="http://www.youtube.com/embed/{{youtubeVideoId}}",frameborder="0",allowfullscreen, style="margin-bottom: -4px")

