
template(name="courses")
  .container
    .row.clearfix
      .col-md-12.column
        //- if isInRole "admin" "system"
        //-   hr
        //-   h2 Add New Course

        //-   +quickForm id="demo" schema="coursesSchema" type="method" meteormethod="createCourse" template="bootstrap3-inline" label-class="sr-only" afFieldInput-placeholder="schemaLabel"
        
        +aboutCoursesIcons
        +allPublicCoursesTable

//- ######################################

template(name="allPublicCoursesTable")
  +reactiveTable settings=settings

template(name="courseNameAndDescription")
  h2 {{courseName}}
  p {{description}}
  if video
    //- h2 TODO: add video icon
    i.fa.fa-film.fa-2x(style="margin:5px")
  if slides
    i.fa.fa-book.fa-2x(style="margin:5px")
  if dockerImage
    i.fa.fa-cube.fa-2x(style="margin:5px")

template(name="goToCoursePageBtn")
  //- a(href="{{pathFor 'course' courseId=_id}}")
  +courseImage courseDoc=this width="300px"


//- ######################################

template(name="aboutCoursesIcons")
  p
    i.fa.fa-film(style="margin:5px") Video
    i.fa.fa-book(style="margin:5px") Slides
    i.fa.fa-cube(style="margin:5px") Environment


//- ######################################


template(name="course")
  .container
    .row.clearfix
      .col-md-3.column
        +courseImage courseDoc=course width="100%"
        +Template.dynamic template="courseNameAndDescription" data=course
        //- +courseNameAndDescription courseName=course.courseName description=course.description
        if isInRole "admin" courseAndId
          +courseInfoAdminEditor 
          
      .col-md-9.column
        h2 Classrooms:
        +courseClassroomsTable

template(name="courseInfoAdminEditor")
  if coursesEditSchema
    hr
    +quickForm id="courseInfoAdminEditor" doc=course schema=coursesEditSchema type="method" meteormethod="editCourseInfoByAdmin" 
    

template(name="courseImage")
  a(href="{{pathFor 'course' courseId=courseDoc._id}}")
    img(width="{{width}}",src="{{getCourseImageURL courseDoc}}")


template(name="courseClassroomsTable")
  +reactiveTable settings=settings        

template(name="goToClassroomBtn")
  if isClassroomMember
    a.btn.btn-warning(href="{{pathFor 'classroom' classroomId=_id}}") Go To Classroom
  else
    a.btn.btn-warning.joinClassroomBtn(classroomId="{{_id}}") Join fo Free!


//- ######################################
